{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %} profile | {{ request.user.get_full_name }} {% endblock %}


{% block content %}

<div class="profile-container">
    <div class="profile-image">
        {% if user.image %}
        <img class="profile-image-show" src="{% thumbnail user.image 300x300 %}">
        {% else %}
        <img class="profile-image-show" src="{% static 'image/no_image.jpg' %}" alt="">
        {% endif %}
    </div>
    <div class="profile-information">
        <div><b>Email: </b>{{ user.email }}</div>
        <div><b>Username: </b>{{ user.username }}</div>
        <div><b>First name: </b>{%if user.first_name%}{{user.first_name}}{%else%}Not filled{%endif%}</div>
        <div><b>Last name: </b>{%if user.last_name%}{{user.last_name}}{%else%}Not filled{%endif%}</div>
        <div><b>Date: </b>{%if user.date_of_birth%}{{user.date_of_birth}}{%else%}Not filled{%endif%}</div>
        <div><b>City: </b>{%if user.city%}{{user.city}}{%else%}Not filled{%endif%}</div>
        <hr/>
        {% if request.user == user %}
        <div><a class="nav-link" href="{% url 'profile:change' %}"> Edit </a></div>
        {% else %}
        <div class="title-right"><a class="nav-link" href="#"> Chat </a></div>
        {% endif %}
    </div>
    <div class="profile-posts">
        <h2 class="title-center"> --- Posts --- </h2>
        {% if request.user == user %}
        <div class="block-right"><a class="nav-link" href="{% url 'post:create' %}">Create post</a></div>
        {% endif %}
        <div class="search-container">
            {% include 'includes/search.html' %}
        </div>
        {% for obj in object_list %}
        <div class="post">
            <a class="nav-link" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><br/>
            created: {{ obj.created|date:"m-d-Y H:i:s" }}
            <br>
            {% if request.user == user %}
            action: <a class="nav-link" style="font-size: 1rem" href="{% url 'posts:edit' obj.slug %}">Edit</a> |
            <a class="nav-link" style="font-size: 1rem" href="{% url 'posts:delete' obj.slug %}">Delete</a>
            {% endif %}
            <hr/>
        </div>
        {% empty %}
        <div class="title-center"> Posts not found </div>
        {% endfor %}
        {% include 'includes/pagination.html' %}
    </div>
</div>


{% endblock %}