{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Users {% endblock %}

{% block content %}

<h3 class="title-center">Users</h3>
<hr class="title-center" width="50%"/>
{% for user in users %}
<div class="users">
    <div class="user-image">
        <a href="#profile">
            {% if user.image %}
            <img class="user-image-show" src="{% thumbnail user.image 170x170 %}" alt=""/>
            {% else %}
            <img class="user-image-show" src="{% static 'image/no_image.jpg' %}" alt="">
            {% endif %}
        </a>
    </div>
    <div class="user-information">
        <div>
            <div>
                <a class="nav-link" href="{{ user.get_absolute_url }}">{{ user.get_full_name }}</a>
            </div>
            <div>
                <form action="{% url 'friend:add' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <input type="hidden" name="action" value="{{ user.action }}">

                    <button class="button-confirm" type="submit">
                        {{ user.action }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}