{% extends 'base.html' %}

{% block title %} Change password {% endblock %}

{% block content %}


{% if validlink %}
<div class="profile-change-container" style="margin: 0 auto">
    <h1 class="title-center">Change your password</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-confirm" type="submit">CONFIRM</button>
    </form>
</div>
{% else %}
<p class="title-center">The password reset link was invalid, possibly because it has already been used.</p>
<p class="title-center">Please request a new password reset.</p>
{% endif %}

{% endblock %}